

<ul>
    <li><a href="/gosterge-paneli"><i class="fas fa-chart-line"></i>Gösterge Paneli</a></li>
    <li><a href="/emlaklar"><i class="fas fa-building"></i>Emlaklar</a></li>
    <li><a href="/kisiler"><i class="fas fa-user"></i>Kişiler</a></li>
    <li><a href="/bakim"><i class="fas fa-tools"></i>Bakım</a></li>
    <li><a href="/takvim"><i class="fas fa-calendar-alt"></i>Takvim</a></li>
    <li><a href="/dokumanlar"><i class="fas fa-file-alt"></i>Dokümanlar</a></li>
    <li><a href="/muhasebe"><i class="fas fa-lira-sign"></i>Muhasebe</a></li>
    <li><a href="/yardim"><i class="fas fa-question-circle"></i>Yardım ve Destek</a></li>
    <li><a href="/cikis"><i class="fas fa-sign-out-alt"></i>Çıkış Yap</a></li>
</ul> 
