<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    
  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap" rel="stylesheet"> </head>

  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/{{style}}">

	<title>Emlak Yönetim Platformu</title>
</head>
<body>
    <!-- Some Initial Scripts -->
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>  

    {{{body}}}
    
</body>
</html>