<div class="wrapper">
    <div class="sidebar">
        {{> sidebar}}
    </div>
    <div class="main_content">
        <div class="header">
            {{> header}}
        </div>  
        <div class="info">
            <br>
            <p style="font-size: 30px;  margin: 50px;" >Yardım ve Destek</p> 
            <br><br><br><br>



            <div style="width: 800px; margin-left: 55px;" >
                <h3>Emlak Yönetim Platformu,<br><br> Gebze Teknik Üniversitesi
                    Bilgisayar Mühendisliği BİL496 Bitirme Projesi <br> kapsamında 
                    Fatih Dural tarafından Prof. Dr. Hasari ÇELEBİ danışmanlığı
                    ile yapılmıştır. <br><br> Yardım ve destek için 'fatihdural@gtu.edu.tr'
                    adresine mail atabilirsiniz. 
                </h3>
            </div>


        </div>
    </div>
</div>

<script src="/js/yardim-destek/search.js"></script>